
.about-me-section {
    background-color: #323f4b;
}

.about-me-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.about-me-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;

}

.about-me-section-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 16px;

}

.about-me-section-image {
    width: 100%;
}

.footer-section-image {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    align-items: center;
}